@media screen and (max-width: 1000px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin: 10px;
    }

    nav ul {
        display: flex;
        margin: 10px;
        height: 25px;
        justify-content: center;
    }

    /* nav ul li a{
        /* justify-content: center; */
    /* align-items: center; 
    } */

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 27px;

    }

    .slider {
        margin: 10px auto;
        width: 80vw;
        overflow: hidden;
        height: 47vh;
    }
    .card-item img{
        height: 140px;
        width: 140px;
    }
    .card-item margin{
     margin: 0px 60px;   
    }
}